header {
    min-height: 70px;
    max-height: 69px;
    background-color: #FFFDFB;
    font-size: 16px;
    -webkit-box-shadow: 0px 5px 5px 0px #EDE5D8;
    -moz-box-shadow: 0px 5px 5px 0px #EDE5D8;
    box-shadow: 0px 5px 5px 0px #EDE5D8;
}

header li {
    float: right;
}

header .img-right {
    float: right;
    padding-right:30px;
}

header .img-left {
    float: left;
    padding-left:30px;
}


header a {
    color: #D44E02;
    display: block;
    padding: 24px 20px;
    text-align: center;
    text-decoration: none;
}

header a:hover {
    color:black;
    text-decoration: none;
}

header input[type="text"] {
    background: url(img/search.png) no-repeat;
    background-position: 150px 4px;
    width: 185px;
    margin-top: 15px;
    padding: 8px; 
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    outline: none;
    float: left;
}

body
{
    background-color: #FFF7E9;
    margin:0px;
    padding:0px;
}

.menu-container {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.radio-buttons{
    float: right;
    margin-top: 13px;
}

.radio-buttons .radio-button{
    display:block;
    float: right;
    padding-right:37px;
}

.radio-buttons .button-font{
    font-size:13px;
    font-weight:normal;
    font-family: "Microsoft Sans Serif";
}

/* COMMON RADIO AND CHECKBOX STYLES  */
input[type=radio] {
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}
input[type=radio] + label:before {
  height:16px;
  width:16px;
  margin-right: 2px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  border:1px solid #777;
  background-color: white;
}
input[type=radio]:checked + label:before{
  background:gold;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type=radio] + label:before{
  border-radius:50%;
}

h2 {
    text-align: left;
    padding-left: 25px;
}

h4 {
    text-align: left;
    padding-top: 15px;
}

.sushi-roll {
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #EAE9E9;
    -webkit-box-shadow: 1px 2px 2px 0px #C3BDB2;
    -moz-box-shadow: 1px 2px 2px 0px #C3BDB2;
    box-shadow: 1px 2px 2px 0px #C3BDB2;
    text-align: center;
    min-width: 300px;
    min-height: 274px;
    max-height: 400px;
    margin-top: 9px;
}

.sushi-block {
    display: inline-block;
}

.sushi-roll-format
{
    text-align: left;
}

.sushi-roll-format img {
    display:inline;
    max-height: 173px;
    max-width: 200px;
    padding-left:15px;
}

.roll-price {
    display:inline-block;
    width: 50%;
    text-align: left;
    font-weight:bold;
    float: left;
    margin-top: 9px;
}

.roll-button-q {
    display:inline-block;
    width: 49%;
    text-align: center;
}

.roll-button-q input[type="text"]{
    height:35px;
    width:40px;
    padding: 0;
}

.roll-button-q button{
    height:35px;
    width:25px;
    padding: 0;
}

.roll-button-order {
    display:inline-block;
    width: 49%;
    text-align: center;
    color: white;
}

.roll-button-order button{
    width: 100px;
    height: 35px;
    /*Was generated by gradient generator*/
    border:none;
    background: #ef5a06; 
    background: -moz-linear-gradient(left, #ef5a06 37%, #f2892b 70%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ef5a06 37%,#f2892b 70%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ef5a06 37%,#f2892b 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5a06', endColorstr='#f2892b',GradientType=1 ); /* IE6-9 */
}

.row-padding {
    padding-left:25px;
    padding-right:25px;
}


.gradient-line {
    width: 100%;
    margin-top: 70px;

    height: 15px;
    background: #ef5a06; 
    background: -moz-linear-gradient(left, #ef5a06 37%, #f2892b 70%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ef5a06 37%,#f2892b 70%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ef5a06 37%,#f2892b 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5a06', endColorstr='#f2892b',GradientType=1 ); /* IE6-9 */
}

footer {
    background-color: #4B4B4B;
    height: 120px;
    color: white;

}

@media (max-width: 1050px) {
    .img-dissapear {
        display: none;
    }
}